body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBox {
  background-color: bisque;
  margin: 5%;
  margin-top: 8%;
  padding: 6%;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  width: 100%;
  margin-bottom: 20%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputField {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  margin: 5px 30px;
}

.loginButton {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

/* padding: top/bottom left/right */
/* same with margin */