body {
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  background-image: url('../images/pexels-tomáš-malík-3367619.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  color: #0E1929;
  font-family: 'Playfair Display', serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 80vw;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.login-box {
  background-color: rgba(225, 255, 255, 0.75);
  margin: 1% 10%;
  padding: 3% 8%;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-inputs {
  width: 100%;
  margin-bottom: 10%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputField {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  margin: 5px 30px;
}

.submit-button {
  padding: 20px;
  margin-top: 10px;
  font-size: 30px;
}

.add-trip-button,
.submit-button  {
  color: #F4BE74;
  border-radius: 10px;
  background-color: #2F486C;
}

.login-header {
  margin-bottom: 6%;
}

.dashboard {
  display: flex;
  border: 2px solid #ffffff;
  width: 90vw; 
  height: 80vh;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
}

.left-aside {
  border: 2px solid #ffffff;
  background-color: white;
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-main {
  border: 2px solid #ffffff;
  width: 77%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
}

h1, 
.username, 
.password {
  font-size: 30px;
  font-weight: bold;
  margin: 3% 0%;
}

#username,
#password {
  font-size: 25px;
  font-weight: 100;
  padding: 5%;
  margin-left: 5%;
  margin-top: 5%;
}

.add-spacing-to-headers {
  margin-top: 10%;
  margin-bottom: 3%;
}

h2 {
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 2%;
}

#endDate, 
#startDate {
  width: 150px;
}

#travel-numbers,
.select-year-title,
#year-dropdown {
  width: 250px; 
  padding: 3px; 
}

.dropdown-container,
.number-travelers,
.start-date,
.end-date,
.destination-dropdown,
.add-trip-button,
#year-dropdown,
.submit-button  {
  margin: 1% 0%;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

#year-dropdown,
.destination-dropdown {
  font-size: 17px;
  font-weight: 100;
  width: 180px;
}

.trips-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 60%;
  margin-top: 50px;
}

.trips {
  padding: 3%;
  width: 20vw;
  text-align: center;
  background: white;
  margin: 1%;
  border-radius: 3%;
  max-height: 90vh;
  overflow-y: auto;
}

.past-trips,
.upcoming-trips,
.pending-trips {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
}

.trip-box {
  border: 1px solid #0E1929;
  padding: 10px;
  margin: 4.5% 0.1%;
  color: #0E1929;
  border-radius: 3%;
}

.trip-box h1,
p {
  font-size: 17px;
  font-weight: bold;
}

.total-cost-statement {
  font-size: 20px;
  text-align: center;
  margin: 3%;
}

.select-year-title {
  margin-bottom: 10%;
}

.add-new-trip {
  display: flex;
  align-items: center;
}

.new-trip-statement {
  font-size: 20px;
  font-weight: 100;
  margin: 0px;
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

#startDate,
#endDate,
#travel-numbers {
  font-size: 20px;
}

.login-error-message {
  color: darkred;
  font-size: 20px;
  text-align: center;
}

.destination-dropdown {
  color:#F4BE74;
  background-color: #0E1929;
  font-weight: bold;
  padding: 0.55%;
}

.trip-section-space {
  margin-left: 0.1%;
}

.add-trip-button {
  font-size: 17px;
  margin-top: 2%;
  margin-bottom: 0;
  width: 125px;
  padding: 3px;
}

.start-date,
.end-date,
.number-travelers,
.year-dropdown {
  font-size: 25px;
}

.logo {
  width: 260px;
  height: 250px;
}
.hidden {
  display: none;
}
